body {
    height: 100%;
    margin: 0%;
}

html {
    height: 100%;
}

.content {
    display: inline-block;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 100%;
}

.wrapper {
    height: 100%;
    margin: 0% auto;
    white-space: nowrap;
    width: 80%;
}
